<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {%- block title -%}{%- endblock -%}
        </title>

        <link href="/component/css/bootstrap.min.css" rel="stylesheet">
        {% block css %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% endblock %}
        <script src="/component/js/jquery-3.3.1.min.js"></script>
        <script src="/component/js/popper.min.js"></script>
        <script src="/component/js/bootstrap.min.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>